@import "vendor/_defaults";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.main-wrapper {
  * {
    font-family: "Fira Code", monospace;
  }

  align-items: center;
  background-color: var(--color-s1-black);
  color: var(--color-s1-white);
  display: flex;
  flex-direction: column;
  font-size: larger;
  height: 100vh;
  justify-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;

  .main-title {
    color: var(--color-s1-secondary);
    font-size: rem(80);
    font-weight: bold;

    &-middle {
      padding: 0 20px;
    }

    &-emphasis {
      color: var(--color-s1-orange);
    }
  }

  .main-subtitle {
    font-size: rem(30);
    margin: 20px 0;

    &-name {
      color: var(--color-s1-white);
      font-weight: bold;
    }
    &-arrow {
      color: var(--color-s1-orange);
      font-weight: bold;
      padding: 0 20px;
    }
    &-dev {
      color: var(--color-s1-purple);
      font-weight: normal;
    }
  }
}
