@import "vendor/_defaults";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.main-wrapper {
  * {
    font-family: "Fira Code", monospace;
  }

  align-items: center;
  background-color: var(--color-s1-black);
  color: var(--color-s1-white);
  display: flex;
  flex-direction: column;
  font-size: larger;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;

  .main-title {
    color: var(--color-s1-secondary);
    font-size: rem(80);
    font-weight: bold;

    &-middle {
      padding: 0 20px;
    }

    &-emphasis {
      color: var(--color-s1-orange);
    }
  }

  .main-subtitle {
    font-size: rem(30);
    margin: 20px 0;

    &-name {
      color: var(--color-s1-white);
      font-weight: bold;
    }
    &-arrow {
      color: var(--color-s1-orange);
      font-weight: bold;
      padding: 0 20px;
    }
    &-dev {
      color: var(--color-s1-purple);
      font-weight: normal;
    }
  }

  .main-menu {
    padding: 0;
    margin: 0;
    margin-top: rem(40);

    &-icon {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s all;

      &:hover {
        filter: brightness(0%) invert(100%);
        transform: scale(1.3);
        transition: 0.5s all;
      }
    }
  }
}
