// Font Styles
$font-normal: 400;
$font-bold: 700;
$font-extra: 800;
$font-black: 900;

// Colors
$color-primary-dark: #1C5F21;
$color-primary-light: #236F23;
$color-secondary: #E19928;
$color-white: #FFF;
$color-black: #000;

// Z-index
$z-index-background: -999;
$z-index-back: 1;
$z-index-reset: 0;
$z-index-top: 1;
$z-index-overlay: 999;

.videos {
    height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    background-image: url(../public/images/videos-bg.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    h1 {
        font-size: 3rem;
        font-weight: $font-bold;
        color: $color-secondary;
        text-transform: uppercase;
        position: relative;
    }

    hr {
        border: 1px solid $color-white;
        width: 100px;
        margin: 20px 0;
    }

    .videos-text {
        box-sizing: border-box;
        display: block;
        max-width: calc(100vw - 50px);
        font-size: 1.2rem;
        text-align: center;
        color: $color-white;
        font-weight: $font-normal;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        margin: 1em 0;
    
    }

    .videos-row {
        display: flex;
        flex-direction: column;

        .video-item {
            width: 300px;
            height: 170px;
            background-color: #E19928;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content:flex-end;
            box-sizing: border-box;
            padding: 5px;

            .video-title {
                font-size: 1.2rem;
                font-weight: $font-bold;
                color: $color-white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            }

            .video-views {
                color: $color-white;
                margin-top: 2px;
                font-weight: $font-normal;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            }
        }

    }

    select {
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px 0;
        box-sizing: border-box;
        appearance:none;
        background: url(../public/images/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right;
        color: $color-white;
        border: 1px solid $color-white;
        width: 300px;

        option {
            color: $color-black;
        }

        option:first-child {
            color: $color-white;
        }

    }
}


//¿ TELAS ACIMA DE 600PX
@media (min-width: 600px) {

    .videos {
        .videos-text {
            font-size: 1.5rem;
        }
        .videos-row {
            display: flex;
            margin: 10px 10px;
        }
    }
}


//¿ TELAS ACIMA DE 1024PX
@media (min-width: 1024px) {
    .videos {
        
        .videos-text {
            width: 800px;
            font-size: 2rem;
        }

        .videos-row {
            max-width: 1000px;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            
            .video-item {
                margin: 10px 10px;
            }
        }

        select {
            width: fit-content;
            padding-right: 50px;
            font-size: 1.8rem;
        }
    }
}

