// Font Styles
$font-normal: 400;
$font-bold: 700;
$font-extra: 800;
$font-black: 900;

// Colors
$color-primary-dark: #1C5F21;
$color-primary-light: #236F23;
$color-secondary: #E19928;
$color-white: #FFF;
$color-black: #000;

// Z-index
$z-index-background: -999;
$z-index-back: 1;
$z-index-reset: 0;
$z-index-top: 1;
$z-index-overlay: 999;
